<div class="list-group">
    <a class="list-group-item list-group-item-action"
       *ngFor="let ingredient of shippedIngredients"
       (click)="ingredientsClicked.emit(ingredient)"
       [class.active]="ingredient.id === activeIngredient?.id"
    >
        <div class="media">
            <img src="https://img.hellofresh.com/c_fill,f_auto,fl_lossy,h_50,q_auto,w_50/hellofresh_s3{{ingredient.imagePath}}"
                 class="align-self-start mr-3" [alt]="ingredient.name">
            <div class="media-body">
                <h5 class="mt-0">{{ingredient.name}}</h5>
                <p>{{ingredient.description}}</p>
                <p>{{getYieldsIngredient(ingredient, 2).amount }} {{getYieldsIngredient(ingredient, 2).unit}}</p>

            </div>
        </div>
    </a>
</div>
