/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
.dot {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.sec {
  position: relative;
  right: -13px;
  top: -22px;
}

.counter.counter-lg {
  top: -24px !important;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  font-size: 16px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.img-cover{
  object-fit: cover;
  height: 400px;
  width: 100%;
  position: absolute;
}
.img-cover + .container {
  padding-top: 18rem;
}
