<div class="container-fluid">
    <div class="row">
        <div class="col-3 overflow-auto list-view m-0 p-O bg-white">
            <nav class="navbar pl-0 pr-0 navbar-light bg-light">
                <div class="container-fluid">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" dropdown>
                            <button id="button-basic" dropdownToggle type="button"
                                    class="btn btn-sm btn-primary dropdown-toggle"
                                    aria-controls="dropdown-basic">
                                Cuisine <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                role="menu" aria-labelledby="button-basic">
                                <li role="menuitem"><a class="dropdown-item" href="#">Espagnole</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Russe</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Asiatique</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Française</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Africaine</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Indienne</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Irlandaise</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Cubaine</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Japonaise</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Américaine</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Italienne</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Chinoise</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Allemande</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Gracque</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Mexicaine</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Thaï</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Sud-américaine</a></li>
                                <li role="menuitem"><a class="dropdown-item" href="#">Coréenne</a></li>
                            </ul>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-primary btn-sm">
                                Rapide
                            </button>
                        </div>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-primary btn-sm">
                                Populaire
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
            <app-hello-fresh-recipe-list
                    [recipes]="recipes$ | async"
                    [activeRecipe]="activeRecipe$ | async"
                    (recipeClicked)="setActiveRecipe($event)"
            ></app-hello-fresh-recipe-list>
        </div>

        <div class="col-9 overflow-auto list-view">
            <app-hello-fresh-recipe-details
                    *ngIf="activeRecipe$ | async"
                    [recipe]="activeRecipe$ | async"
                    (addToBasket)="openSearch($event)"
            >
            </app-hello-fresh-recipe-details>
        </div>
    </div>
</div>
