<div style="position: relative;" class="container" *ngIf="ingredient && yield">
  <!-- It is important to set position of parent container to "relative" -->
  <div>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Ajouter {{ ingredient.name }} - {{ yield.amount }} {{ yield.unit }}
      </h4>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" *ngIf="ingredient">
      <app-colruyt-search [ingredient]="ingredient" (productAdded)="closeModal()"></app-colruyt-search>
    </div>
  </div>
</div>
